{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="p-3">
    <div>
        {% if cart_items | length != 0 %}
            <h1>Корзина</h1>
            <p>здесь будут добавленные товары в корзину</p>

            {% for cart_item in cart_items %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{{ cart_item['image_url'] }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ cart_item['title'] }}</h5>
                        <p class="card-text">{{ cart_item['price'] * cart_item['count'] }} рублей</p>
                        <p class="card-text">
                            <div class="d-flex gap-3 align-items-center">
                                <form method="post" action="{{ url_for('decrement_cart_item', id=cart_item['id']) }}">
                                    <button class="btn btn-secondary" type="submit" {% if cart_item['count'] == 1 %}disabled{% endif %}>-</button>
                                </form>
                                <p class="card-text mb-0">{{ cart_item['count'] }}</p>
                                <form method="post" action="{{ url_for('increment_cart_item', id=cart_item['id']) }}">
                                    <button class="btn btn-secondary" type="submit">+</button>
                                </form>
                            </div>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Корзина пуста 😞</h1>
            <p>Воспользуйтесь поиском, чтобы найти всё, что нужно. Если в Корзине были товары, войдите, чтобы посмотреть список</p>
        {% endif %}
    </div>
</div>
{% endblock %}