{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<div class="p-3">
    <div>
        <h1>Оформление заказа</h1>
        <p>впишите, пожалуйста, данные о адресе доставки и контакт</p>

        <div class="d-flex gap-3">
            <div class="d-flex flex-wrap gap-3">
                {% for cart_item in cart_items %}
                    <img style="width:100px" src="{{ cart_item['image_url'] }}" />
                {% endfor %}
            </div>
        </div>

        <div class="card mt-5" style="width: 18rem; height: 100px">
          <div class="card-header">
            <h5>Итого: {{ totalPrice }} ₽</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Кол-во товаров: {{ totalCount }}</li>
          </ul>
        </div>

        <form id="order-form" method="post" action="{{ url_for('order') }}" class="mt-5 d-flex flex-column justify-content-center w-25 gap-2">
            <input type="hidden" value="{{ totalPrice }}" name="total" />
            <input type="hidden" id="products-data" name="products" />
            <input type="text" name="address" placeholder="Введите адрес доставки" />
            <input type="text" name="post_code" placeholder="Введите почтовый индекс" />
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
        </form>
    </div>
</div>



<script>
    document.getElementById("order-form").addEventListener("submit", function(event) {
        event.preventDefault();

        let products = [];
        {% for item in cart_items %}
            products.push({
                id: {{ item.id }},
                count: {{ item.count }}
            });
        {% endfor %}

        document.getElementById("products-data").value = JSON.stringify(products);

        setTimeout(() => this.submit(), 100);
    });
</script>
{% endblock %}