{% extends "base.html" %}

{% block title %}Создание поста{% endblock %}

{% block content %}
    <div class="p-3 w-25">
        <h1>Создание категории</h1>

        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}

        <form method="post" action="{{ url_for('create_category') }}">
            <input placeholder="Введите название категории" class="form-control mb-2" name="title" />

            <input placeholder="Вставьте URL картинку категории" class="form-control mb-2" name="image_url" />

            <button class="btn btn-primary" type="submit">Создать</button>
        </form>
    </div>
{% endblock %}