{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="p-3 d-flex flex-column align-items-center mx-auto" style="max-width: 600px">
        <div class="mt-5 d-flex gap-2 align-items-center">
            <h1 class="">Последние посты!</h1>
            {% if current_user.is_authenticated %}
                <button class="btn btn-primary h-25">
                    <a href="/create-post" class="text-white">
                        Создать пост
                    </a>
                </button>
                <button class="btn btn-primary h-25">
                    <a href="/create-category" class="text-white">
                        Создать категорию
                    </a>
                </button>
            {% endif %}
        </div>
        <p class="mb-5">здесь вы можете прочитать актуальные посты</p>

        <div>
            {% for post in posts %}
                <div class="card mb-3">
                    <div class="d-flex align-items-center py-2">
                        <div class="mx-2 bg-light rounded-circle border d-flex justify-content-center align-items-center" style="width:40px;height:40px" alt="Avatar"></div>
                        <p class="card-text text-center">{{ post.user.first_name + ' ' + post.user.last_name }}</p>
                    </div>

                    <img src="{{ post.image_url }}" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h3 class="card-title">
                            <a class="text-decoration-none text-reset" href="/post/{{post.id}}">{{ post.title }}</a>
                        </h3>
                        <p class="card-text">{{ post.content | safe }}</p>

                        <form method="post"
                            action="{{ url_for('post_like', post_id=post.id) }}"
                            class="d-flex gap-1 align-items-center like-form"
                            data-post-id="{{ post.id }}"
                        >
                            <button type="submit" class="btn {% if post.id in liked_post_ids %}btn-danger{% else %}btn-light{% endif %}">
                                <img width="30" src="https://images.vexels.com/media/users/3/157338/isolated/preview/4952c5bde17896bea3e8c16524cd5485-facebook-like-symbol.png" />
                            </button>
                            <p class="mb-0 fw-semibold likes-count">{{ post.likes }}</p>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
