{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="p-3">
        <h1>Профиль</h1>

        <div class="card w-25 mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ current_user.last_name + ' ' + current_user.first_name }}</h5>
            <p class="card-text">{{ current_user.email }}</p>

              <form method="post" action="{{ url_for('logout') }}">
                  <button type="submit" class="btn btn-light">Выйти</button>
              </form>
          </div>
        </div>

        <table class="table table-striped w-50">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Итого</th>
              <th scope="col">Адрес</th>
              <th scope="col">Статус</th>
              <th scope="col">Еще</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ order.id }}</th>
                    <td>{{ order.total }} ₽</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <button class="btn btn-dark">
                            <a class="text-decoration-none text-white" href="/order/{{ order.id }}">Подробнее</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
