{% extends "base.html" %}

{% block title %}Поиск: {{ search_query }}{% endblock %}

{% block content %}
<div class="p-3">
    <h1 class="mb-5">Поиск: {{ search_query }}</h1>

    {% if products | length != 0 %}
        <div class="d-flex gap-3">
            {% for product in products %}
                <a class="link-underline link-underline-opacity-0" href="/product/{{ product.id }}">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h3 class="card-title mt-3 mb-3 text-primary">{{ product.price }} рублей</h3>
                        <p class="card-text">{{ product.desc[:45] }}</p>
                        <form method="post" action="{{ url_for('add_to_cart') }}">
                            <input type="hidden" name="id" value="{{ product.id }}" />
                            <input type="hidden" name="title" value="{{ product.title }}" />
                            <input type="hidden" name="price" value="{{ product.price }}" />
                            <input type="hidden" name="image_url" value="{{ product.image_url }}" />
                        </form>
                      </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h2>Товаров не найдено 😞</h2>
        <p class="mb-3">Возможно, вам понравится:</p>
        <div class="d-flex gap-3">
            {% for product in other_products %}
                <a class="link-underline link-underline-opacity-0" href="/product/{{ product.id }}">
                    <div class="card" style="width: 18rem;">
                      <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h3 class="card-title mt-3 mb-3 text-primary">{{ product.price }} рублей</h3>
                        <p class="card-text">{{ product.desc[:45] }}</p>
                        <form method="post" action="{{ url_for('add_to_cart') }}">
                            <input type="hidden" name="id" value="{{ product.id }}" />
                            <input type="hidden" name="title" value="{{ product.title }}" />
                            <input type="hidden" name="price" value="{{ product.price }}" />
                            <input type="hidden" name="image_url" value="{{ product.image_url }}" />
                        </form>
                      </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}